<div id="photoStreamBackground">

	<h1>Photo Stream</h1>

	<div id="imageContainer">
		<% if @event.photos.count > 0 %>
			<%= image_tag src="spinnerLarge.gif", id:"imageSwap", class: "img-responsive spinner" %>
		<%else %>
			<p>No photos uploaded yet...</p>
			<%= link_to "Upload Photos", new_event_photo_path(@event.custom_url), class: "btn btn-primary btn-sm"%>
		<%end%>
	</div>

	<%= link_to "EXIT", show_event_path(@event.custom_url), class: "btn btn-warning btn-sm pull-left exitButton" %>

</div>